.auth-container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.auth-left {
  flex: 1;
  background: #5a88f7;
  color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.auth-left p {
  font-size: 16px;
}

.auth-left .highlight {
  font-weight: bold;
  color: #fff;
}

.logo-box {
  margin-top: 40px;
  font-size: 60px;
  font-weight: bold;
  background: #fff;
  color: #5a88f7;
  border-radius: 12px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-right {
  flex: 1;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 350px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.auth-form input,
.auth-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background: #5a88f7;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.auth-form p {
  margin-top: 15px;
  font-size: 14px;
}
